$volume-height: 62%;
$volume-width: 48%;
$slice-height: 35%;

$render-height: 55vh;
$main-render-height: 100%;
$main-render-width: 48%;
$secondary-render-height: 48%;
$secondary-render-width: 48%;

#render-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    background: black;
}

#main-render-resizer {
    position: absolute;
    margin-left: 5px;
    right: 0;
}

#secondary-render-resizer {
    position: absolute;
    margin-top: 5px;
    bottom: 0;
}

canvas {
    fill: none;
    width: 100%;
    height: 100%;
}

.slice {
    cursor: crosshair;
}

.main-slice, .slice-container {
    height: $main-render-height;
    display: inline-block;
    position: absolute;
    bottom: 0;
}

.main-slice {
    width: $main-render-width; 
    left: 0;
}

.slice-container {
    width: $secondary-render-width;
    right: 0;
}

.secondary-slice {
    width: 100%;
    height: $secondary-render-height;
}

#sec-top {
    position: absolute;
    top: 0;
}

#sec-bottom {
    position: absolute;
    bottom: 0;
}