$vResizeHeight: 10;
$hResizeWidth: 10;
$chart-margins-hor: 2%;
$chart-margins-ver: 2%;

$grid-margins-hor: 4%;
$grid-margins-ver: 5%;

html, body, #content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: default;
}

.panel {
    width: 100%;
}

.top-panel {
    height: 40% - $vResizeHeight/2;
}

.bottom-panel {
    height: 60% - $vResizeHeight/2;
    background-color: white;
}

.left-panel {
    width: 50% - $hResizeWidth/2;
    height: 100%;
    float: left;
}

.right-panel {
    width: 50% - $hResizeWidth/2;
    height: 100%;
    float: right;
    background: black;
    overflow: scroll;
}

#grid-container {
    overflow: scroll !important;
    background: black;
}

#render-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: black;
}

#offset-container {
    width: 100%;
    height: 100%;
}

.chart {
    margin: 0 $chart-margins-hor $chart-margins-ver $chart-margins-hor;
    width: 100% - ($chart-margins-hor);
    height: 100% - (2 * $chart-margins-ver);
}

.resizer {
    background-color: gray;
}

#chart-resizer {
    height: 7.5px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    vertical-align: middle;
    cursor: row-resize;
}

#render-resizer {
    width: 7.5px;
    height: 100%;
    margin-left: 5px;
    cursor: col-resize;
    display: inline-block;
}

#datGuiContainer {
    position: fixed;
    right: 10px;
    bottom: 0;
}

$volume-height: 62%;
$slice-height: 45%;

@mixin resizerMixin() {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: white;
}

.vcontainer {
    display: inline-block;
    height: 100%;
    width: 48%;
}

.volume-panel {
    width: 100%;
    height: $volume-height;
}

.slice {
    display: inline-block;
    width: 31.5%;
    height: $slice-height;
}

canvas {
    width: 100%;
    height: 100%;
}

.point {
    fill: steelblue;
    stroke: black;
}

.axis text {
    fill: black;
    font-size: 12px;
    font-family: "arial";
}

.axis path, .axis line {
    fill: none;
    stroke: black;
}

@mixin labelMixin() {
    font-size: 14px;
    font-family: "arial";
    font-weight: 600;
}

.axisLabel {
    fill: black;
    @include labelMixin();
}

.gridLabel {
    fill: white !important;
    stroke: white !important;
    color: white !important;
    @include labelMixin();
}

.label {
    text-anchor: middle;
    font: 14px sans-serif;
    color: black;
    fill: black;
}

.grid-label {
    text-align: center;
    color: black;
    font: 14 px helvetica;
    font-weight: 600;
}

$base-line-height: 24px;
$white: rgb(255,255,255);
$off-white: rgba($white, 0.2);
$spin-duration: 1s;
$pulse-duration: 750ms;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
    opacity: 0.75;
    border-radius: 50%;
    width: $base-line-height;
    height: $base-line-height;
    border: .25rem solid $off-white;
    border-top-color: $white;
    animation: spin $spin-duration infinite linear;
  &--double {
    border-style: double;
    border-width: .5rem;
  }
}